.App {
  background-color: #282c34;
  color: white;
}

.row {
  margin: 0 auto;
  display: flex;
  max-width: 60%;
}

.column-left {
  flex: 30%;
  text-align: right;
  padding: 20px;
  font-size: calc(3px + 2vmin);
}

.column-right {

  flex: 70%;

  padding: 10px;
  font-size: calc(3px + 2vmin);
}

.image {
  border-radius: 50%;
}

.App-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}